:host {
  display: block;
  width: 90%;
  margin: auto;
  padding: 5em 0;
}
.container {
  width: 300px;
  border: 1px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px auto; 
  grid-template-areas: 
  "result result result result"
  "clear clear clear operator"
  "number number number operator"
  "number number number operator"
  "number number number operator"
  "number number number operator";
}

.result {
  padding: 0 1em;
  color: #fff;

}

.item {
  height: 50px;
  width: 50px;
  color: #fff;
  text-align: center;
  justify-self: center;
}

.number {
  grid-area: number;
  margin: 10px 0 10px;
}

.clear {
  grid-area: clear;
  margin: 10px 0 10px;
}

.clear .item {
  justify-self: center;
    box-shadow: 0px 2px 0px wheat,
  0px 3px 15px rgba(0,0,0,.4),
  inset 0px 2px 0px rgba(255,255,255,.3),
  inset 0px 0px 3px rgba(255,255,255,.5);
}

.number .item {
  /* border: 1px solid wheat; */
  justify-self: center;
    /* box-shadow: 0 0 5px 3px rgba(137, 54, 201, 0.8) ,
    0 0 0 1px wheat inset; */

  box-shadow: 0px 2px 0px #2b638f,
  0px 3px 15px rgba(0,0,0,.4),
  inset 0px 2px 0px rgba(255,255,255,.3),
  inset 0px 0px 3px rgba(255,255,255,.5);
}



.result {
  grid-area: result;
  background-color: rgba(0, 0, 0, 0.1)
}

.operator {
  grid-area: operator;
  /* background-color: orange; */
  margin: 10px;
}

.operator .item {
  background-color: orange;
  margin-bottom: 0.5em;
}

.number-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
}