<div class="container" #container>
	<div class="result text-align-right">

    <div>
    <span class="text-small" *ngFor="let input of userInput" >
        {{input}} 
    </span>
    </div>

		<p>{{ currentNumber ? currentNumber : previousNumber }}</p>
	</div>

  <div class="clear number-container">
    <button class="item" #clear>AC</button>
		<button class="item" #toggleNegative>+/-</button>
		<button class="item" #percentage>%</button>
  </div>

	<div class="number number-container" #operand>
		<button class="item">7</button>
		<button class="item">8</button>
		<button class="item">9</button>
		<button class="item">4</button>
		<button class="item">5</button>
		<button class="item">6</button>
		<button class="item">1</button>
		<button class="item">2</button>
		<button class="item">3</button>
		<button class="item">0</button>
    <button class="item"></button>
		<button class="item">.</button>

	</div>


	<div class="operator" #operator>
		<button class="item">÷</button>
		<button class="item">×</button>
		<button class="item">-</button>
		<button class="item">+</button>
	</div>

<div class="evaluate">
  <button class="item">=</button>
</div>

</div>