<div class="container" #container>
	<div class="result text-align-right">
    <p class="result-item text-small"> 
    <span *ngFor="let part of equation" >
        {{ part }}
    </span>
    <!-- <span>{{ result }}</span> -->
    </p>
		<p class="result-item">{{ currentOperand ? currentOperand : result }}</p>
	</div>

  <div class="clear number-container">
    <button class="item" (click)="reset()">AC</button>
		<button class="item" (click)="onToggleNegative()">+/-</button>
		<button class="item" (click)="onPercentageInput()">%</button>
  </div>

	<div class="number number-container" #operand>
    <button *ngFor="let digit of numberContent" class="item" (click)="onNumberInput(digit)">
      {{digit}}
    </button>
	</div>

	<div class="operator" #operator>
		<button class="item" *ngFor="let operator of operatorContent" (click)="onOperatorInput(operator)">{{operator}}</button>
	</div>

<div class="evaluate">
  <button class="item" (click)="evaluateResult()">=</button>
</div>

</div>